// Download this file and change param values accordingly

conda.enabled = true

// Override resources for specific processes
process {

    shell = '/bin/bash'  

    withName: 'TableGenerationTrinity' {
        cpus = 4
        memory = '8 GB'
        time = '1h'
    }

    withName: 'TableGenerationTransdecoder' {
        cpus = 4
        memory = '8 GB'
        time = '1h'
    }

}

//Change these values 
params {
    // Name no spaces
    name = 'Holford_Lab_PN'
    genome_id = 'GCA_023376005.1'
    
    species = 'Doryteuthis pealeii'


    ismassspecavailable = 'Y'

    basename = 'DP2_MH'

    sampleURL = 'DP2'

    //Path to Input_files (The results dir from Vf run)
    data = 'Test'

    //Path to Trinity_file 
    trinity_fasta = ''

    //Path to your massspec_csv
    massspecdata = 'Test/DP2_MH_transpep.proteins_massspec.csv'

    //Path to your entry.list Interproscan
    input_list = 'Test/entry.list'

    //Path to your Panther_names file
    input_panther = 'Test/Panther_names.csv'

     //Path to your ToxProt database csv with IP domains included
    input_toxindomains = 'Test/Toxin_Domains.tsv'

    // Notes 
    notes = 'DP2_MH was collected at MBL in 2023 by MH. Dissected by Dr Lisa Abbo. RNA extraction done by MH and Carrie Albertin. Sequencing by NYU. Venomflow by PN. Analysis by PN.'

    //Settings 
    samplename = 'DP2_MH'
    SRA = 'NULL'
    Tissue = 'PSG'
    Age = 'Adult'
    Sex = 'Unknown' 
    RNAExtractionMethod = 'Trizol'
    LibraryPrep = 'Clonetech'
    Strandedness = 'Unstranded'
    Selection = 'NA'
    Readlength = '150bp PE'
    

    //
}




