// Manifest 
manifest {
    name = 'Venomflow Analysis'
    author = 'Holford Lab'
    homePage = 'https://github.com/lexatrash23/Nf-vf-pn-092025'
    description = 'Bulk Paired-end RNAseq analysis pipeline for identification of putative venom transcripts.'
    mainScript = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version = '1.0.0'
}

manifest.defaultBranch = 'main'
tower.enabled = true
plugins {
    id 'nf-core@1.0.0'
}
includeConfig 'https://raw.githubusercontent.com/nf-core/configs/master/nextflow.config'

// CONDA and SINGULARITY // Default Conda
conda.enabled = true
docker.enabled = false
singularity.enabled = false

profiles {
    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
    }
    
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        wave.enabled = true 
        conda.enabled = false
        singularity.enabled = false
    }
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        wave.enabled = true 
        conda.enabled = false
        docker.enabled = false

    }

}


// Settings for Holford Lab BRIDGES CLUSTER // aiming for >80% CPU requested usage esp for larger requests
process {
    executor = 'slurm'
    queue = 'RM-shared'

    //  RSS < 2 GB
    withLabel: 'process_bare' {
        cpus = 1
        time = 1.h
    }
    //  RSS < 4 GB
    withLabel: 'process_single' {
        cpus = 2
        time = 2.h
    }

    //  RSS < 8 GB
    withLabel: 'process_double' {
        cpus = 4
        time = 4.h
    }
    
    // RSS < 15 GB
    withLabel: 'process_low' {
        cpus = 5
        time = 4.h
    }
    
    // Standard < 25GB
    withLabel: 'process_medium' {
        cpus = 10
        time = 8.h
    }



        withLabel: 'process_high' {
        cpus = 26
        memory = 50.GB

        }

    
    //Long
    withLabel: 'process_long' {
        time = 24.h
    }
}

report {
    enabled = true
    overwrite = true
    file = "${launchDir}/reports/Analysis/report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${launchDir}/reports/Analysis/timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${launchDir}/reports/Analysis/trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file = "${launchDir}/reports/Analysis/flowchart.html"
}
 



params {
    input_csv = "${launchDir}/InputFiles/SampleSheet.csv"
    input_interproscan = "${launchDir}/InputFiles/entry.list"
    input_panther = "${launchDir}/InputFiles/Panther_names.csv"
    input_toxin_metadata = "${launchDir}/InputFiles/Toxin_Domains.tsv.gz"
    input_nontoxin_metadata = "${launchDir}/InputFiles/NonToxin_Domains.tsv.gz" 

    //Fall back Metadata files if the user doesn't provide them 
    Fallback_interproscan = "${projectDir}/MetadataFiles/entry.list"
    Fallback_panther = "${projectDir}/MetadataFiles/Panther_names.csv"
    Fallback_toxin_metadata = "${projectDir}/MetadataFiles/Toxin_Domains.tsv.gz"
    Fallback_nontoxin_metadata = "${projectDir}/MetadataFiles/NonToxin_Domains.tsv.gz"
    
    //ProtSpace
    protspace = false //default, overriden by command line 

    //Default outputdir is the launchdir
   outdir = "${launchDir}"
   
}


