// Download this file and change param values accordingly

conda.enabled = true

// Override resources for specific processes
process {

    shell = '/bin/bash'  

    withName: 'TableGenerationTrinity' {
        cpus = 4
        memory = '8 GB'
        time = '1h'
    }

    withName: 'TableGenerationTransdecoder' {
        cpus = 4
        memory = '8 GB'
        time = '1h'
    }

}

//Change these values 
params {
    // AuthorName (no spaces)
    name = ''
    genome_id = ''
    // Y or N
    isgenomeavailable = '' 
    
    species = ''

     // Y or N
    ismassspecavailable = ''

    basename = ''

    sampleURL = 'SAMPLEURL'

    //Path to Input_files (The results dir from Vf run)
    data = 'Test/resultts'

    //Path to Trinity_file 
    trinity_fasta = ''

    //Path to your massspec_csv
    massspecdata = 'Test/massspec.csv'

    //Path to your entry.list Interproscan
    input_list = 'Test/entry.list'

    //Path to your Panther_names file
    input_panther = 'Test/Panther_names.csv'

     //Path to your ToxProt database csv with IP domains included
    input_toxindomains = 'Test/Toxin_Domains.tsv'

    // Notes 
    notes = 'Sample Collection notes '

    //Settings 
    samplename = ''
    SRA = ''
    Tissue = ''
    Age = ''
    Sex = '' 
    RNAExtractionMethod = ''
    LibraryPrep = ''
    Strandedness = ''
    Selection = ''
    Readlength = ''
    

    //
}




